@media screen and (max-width: 991px) {
  html {
    .wrapper {
      width: calc(100vw - 60px);
    }

    .button {
      &--cart {
        padding: 6px 10px;
      }
    }

    .header {
      padding: 20px 0;
    }

    .content {
      &__top {
        flex-direction: column;
        display: block;

        .sort {
          &__label {
            justify-content: flex-end;
          }
        }
      }
    }

    .categories {
      max-width: 100%;

      ul {
        // flex-direction: column;
        max-width: 100%;
        flex-wrap: nowrap;
        justify-content: flex-start;
        overflow-x: scroll;
        padding-bottom: 10px;
        margin-bottom: 10px;
      }
    }
  }
}
